<!DOCTYPE html>
<html>
	<head>
		<title>Node Site tutorial</title>
		<meta charset="utf-8"/>
		<meta name="" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/css/style.css"/>
        <!--<link rel="shortcut icon" href="/favicon.ico" />-->
        <meta name="author" content=""/>
        <!--<meta name="date" content=""/>-->
        <!--<meta name="description" content=""/>-->
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse">
                <a href="/" class="navbar-brand">My Node Site</a>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        
        <!--MAIN CONTENT HERE-->
        <%- defineContent('hero') %>

        <main>
            <div class="container">
               <%- body %>
            </div>
        </main>

        <footer>
            Awsome node tutorial site
        </footer>
    </body>
</html>