<%- contentFor('hero') %>
<section class="hero">
    <div class="hero-content">
        <h2>Node Site Header</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nisi, quod dicta, aperiam aliquid, nemo, suscipit corporis reiciendis placeat incidunt optio? Tempora impedit perspiciatis consequuntur? Tempore doloribus quam expedita odit.</p>
        <a href="/" class="btn btn-lg btn-primary">Get Started</a>
        <a href="/contact" class="btn btn-lg btn-primary">Contact</a>
    </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
    Page
</div>